# Core
pandas
numpy
scikit-learn

# LangChain & Vector Store
langchain
sentence-transformers
chromadb
langchain-community

# LLM & Transformers
transformers
torch
accelerate

# UI
gradio

# Utilities
jupyterlab
tqdm

langchain-huggingface
langchain-chroma
ipywidgets